
<h1 mat-card-title>
  Login
</h1>

<form [formGroup]="LoginForm" (ngSubmit)="onSubmit()"  >

<!--  Email-->
<mat-form-field>
  <mat-label>email</mat-label>
  <input matInput type="email" formControlName="email">
  <mat-error>Email is required</mat-error>
</mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error>Password is required</mat-error>
  </mat-form-field>

<!--  Button-->
  <button mat-flat-button  type="submit" [disabled]="LoginForm.invalid && LoginForm.hasError" >Submit</button>
</form>
